$ll-primary-color: #6e72d1;
$l-primary-color: #4248c3;
$primary-color: #31369b;
$d-primary-color: #23276f;
$dd-primary-color: #151844;

$ll-secondary-color: #98a7ac;
$l-secondary-color: #788c93;
$secondary-color: #5d6e74;
$d-secondary-color: #435054;
$dd-secondary-color: #2a3234;

$ll-highlight-color: #cc6467;
$l-highlight-color: #b93d41;
$highlight-color: #8e2f32;
$d-highlight-color: #632123;
$dd-highlight-color: #381214;

$ll-light-color: #ebecf9;
$l-light-color: #c0c1eb;
$light-color: #9497dd;
$d-light-color: #686dcf;
$dd-light-color: #3d43c1;

$ll-grey-color: #9f9f9f;
$l-grey-color: #838383;
$grey-color: #666666;
$d-grey-color: #494949;
$dd-grey-color: #2d2d2d;

$ll-dark-color: #003a75;
$l-dark-color: #001e3b;
$dark-color: #000102;
$d-dark-color: #000000;
$dd-dark-color: #000000;





/* THEME COLORS */

$linkColor: $l-light-color;
$textFontColor: $l-light-color;
$headerFontColor: $ll-secondary-color;
$topFontColor: $highlight-color;

$headerMenuColor: $dark-color;

$dividerColor: $secondary-color;
$d-dividerColor: $dd-secondary-color;
$l-dividerColor: $ll-secondary-color;

