$ll-primary-color: #f9d6d1;
$l-primary-color: #ed897b;
$primary-color: #e13c25;
$d-primary-color: #902314;
$dd-primary-color: #3a0e08;

$ll-secondary-color: #b9d2f3;
$l-secondary-color: #659ce5;
$secondary-color: #2168c7;
$d-secondary-color: #133c73;
$dd-secondary-color: #05101f;

$ll-highlight-color: #ffffff;
$l-highlight-color: #fccbc4;
$highlight-color: #f67968;
$d-highlight-color: #ee290e;
$dd-highlight-color: #911909;

$ll-light-color: #ffffff;
$l-light-color: #ffffff;
$light-color: #fdf0ee;
$d-light-color: #f3a396;
$dd-light-color: #e8553f;

$ll-grey-color: #eae1e0;
$l-grey-color: #c2a9a6;
$grey-color: #9a716c;
$d-grey-color: #614643;
$dd-grey-color: #271c1b;

$ll-dark-color: #df3824;
$l-dark-color: #8c2114;
$dark-color: #370d08;
$d-dark-color: #000000;
$dd-dark-color: #000000;






/* THEME COLORS */

//PAGE
//MAIN BACKGROUND OPACITY
$backgroundOpacityColor: #F0F3F5;

//HEADER & MENUS
$headerMenuColor: #38405A;
$menuLinkColor: #ffffff;
$menuHoverColor: #C10F22;
$menuAccentColor: #C10F22;

//FOOTER
$footerBackgroundColor: $d-secondary-color;
$footerAccentColor: $dark-color;

//DEFAULT TEXT
$textFontColor: #464545;
$headerFontColor: $d-secondary-color;
$topFontColor: $d-highlight-color;

//LINKS
$linkColor: $d-dark-color;
$linkBackground: $l-primary-color;
$linkHoverColor: $ll-light-color;
$linkHoverBackground: $ll-secondary-color;



//DIVIDERS
$dividerColor: $secondary-color;
$d-dividerColor: $dd-secondary-color;
$l-dividerColor: $ll-secondary-color;

//COLOR SECTION COMPONENT
$colorSectionBackground: $ll-light-color;
$colorSectionHeaderBackground: $l-primary-color;

//BUTTONS
$defaultNiceButtonTextColor: $light-color;
$defaultNiceButtonColor: $d-secondary-color;
$defaultNiceButtonBorder: 1px solid $d-grey-color;
$defaultNiceButtonHighlightColor: $l-light-color;
$defaultNiceButtonHighlightTextColor: $l-light-color;

$primaryNiceButtonTextColor: $l-light-color;
$primaryNiceButtonBorderColor: $grey-color;
$primaryNiceButtonColor: $l-light-color;
$primaryNiceButtonHighlightColor: $l-light-color;
$primaryNiceButtonHighlightTextColor: $l-light-color;


