/* ------------------------*/
/* Buttons ----------------*/
/* ------------------------*/
button {
	color: $l-light-color;
	padding: 10px;
	font-size: 18px;
	border: 8px solid $l-grey-color;
	background: linear-gradient(rgba($l-secondary-color, .2), rgba($d-secondary-color, .2));
	font-family: $headerFont;
	margin: 2px;
	border-radius: 10px;
}

/* Nice links that are displayed as buttons */
.nice-button {
	display: inline-block;
	color: $defaultNiceButtonTextColor;
	padding: 10px;
	line-height:1.2;
	border: $defaultNiceButtonBorder;
	font-size: 16px;
	font-family: $textFont;
	background: linear-gradient(rgba($defaultNiceButtonColor, .4), rgba($defaultNiceButtonColor, .4));
	@media only screen and (max-width: 911px) {
		width: 90%;
		margin: 10px auto;
	}
	@media only screen and (min-width: 912px) {
		width: 350px;
		max-width:90%;
		margin: 10px auto;
	}
}

.nice-button-primary {
	background: linear-gradient(rgba($ll-primary-color, .4), rgba($primary-color, .4));
	border: 8px solid $l-primary-color;
}



/* Sort/toggle buttons- have an active and inactive state. Add/remove .page-button-active to toggle. Usually, actually divs.*/
.page-button {
	margin: 5px;
	background-color: $secondary-color;
	font-family: $textFont;
	padding: 10px;
	border-radius: 5px;
	color: $ll-light-color;
	border: 2px solid $l-secondary-color;
	display: inline-block;
	cursor: pointer;
	&:hover {
		background-color: $l-secondary-color;
		border: 2px solid $d-secondary-color;
	}
}

.page-button-active {
	background-color: $d-secondary-color;
}

/* ------------------------*/
/* LINKS ------------------*/
/* ------------------------*/
a, .format-link {
	cursor: pointer;
	color: $linkColor;
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	border-radius: $borderRadius;
	display: inline-block;
	&:hover {
		background: rgba($linkHoverBackground, .7);
		color: $linkHoverColor;
	}
}

.blockLink {
	display: block;
	padding: 15px;
	margin: 20px 0;
	&:hover {
		text-decoration: none;
		background-color: rgba($light-color, .2);
	}
}

.paginationLinks {
	text-align: center;
	font-size: 18px;
	& > span {
		padding: 5px;
		font-family: $topFont;
		&:hover {
			cursor: pointer;
			font-weight: bolder;
		}
	}
}

.green-button {
	background:#25D655;
	border-color: #25D655;
}
.red-button {
	background:red;
	border-color: white;
	color:white !important;
	&:hover {
		background: white;
		color: red !important;
		border-color:red;
	}
}

.white-button {
	background:white;
	color:black !important;
}


.blue-button {
	background:#383FE2;
	border-color: #383FE2;
	color:white !important;
}

/* ------------------------*/
/* Dividers ------------------*/
/* ------------------------*/
hr {
	background-color: grey;
}

.divider {
	box-sizing: border-box;
	height: 12px;
	background-color: $dividerColor;
	border-top: 3px solid $l-dividerColor;
	border-bottom: 3px solid $d-dividerColor;
}

.reverse-divider {
	box-sizing: border-box;
	height: 12px;
	background-color: $dividerColor;
	border-bottom: 3px solid $l-dividerColor;
	border-top: 3px solid $d-dividerColor;
}

/* ------------------------*/
/* Warnings ------------------*/
/* ------------------------*/
.health-warning {
	background: rgba($l-highlight-color, .4);
	padding: 20px;
	color: $light-color;
	border: 5px solid $l-highlight-color;
}

/* ------------------------*/
/* Images ------------------*/
/* ------------------------*/
img {
	border-radius: 4px;
}
.image-gallery {
	padding:10px 0;
	& img {
		padding: 10px;
	}
}

.mini-form-handler {
	padding-bottom:20px;
	background-color:$l-dark-color;
	border-bottom:4px solid $light-color;
	h5 {
		background-color:$grey-color;
		color:$dark-color;
		padding:10px;
		border-bottom:2px solid $dark-color;
	}
}

.full-form, .mini-form {
	max-width:800px;
	margin:auto;
	padding:20px;
}