$textFont: 'Helvetica', serif;
$topFont: 'Black Ops One', cursive;
$headerFont: 'Oxygen', sans-serif;

p,
a,
* {
	font-size: 16px;
	font-family: $textFont;
	color: $textFontColor;
}

@mixin h-tag($color: $headerFontColor, $font: $headerFont) {
	font-family: $font;
	color: $color;
	margin: 5px 0;
}

h1 {
	@include h-tag($font: $topFont, $color: $topFontColor);
	@include text-shadow($ll-highlight-color, 1px, -1px, 0px);
	font-weight: bolder;

	@media only screen and (max-width: 480px) {
		font-size: 8vw;
	}
	@media only screen and (max-width: 911px) and (min-width: 481px) {
		font-size: 38px;
	}
	@media only screen and (min-width: 912px) {
		font-size: 48px;
	}
}

h2 {
	@include h-tag;
	font-size: 32px;
}
h3 {
	@include h-tag;
	font-size: 24px;
}
h4 {
	@include h-tag($font: $textFont);
	font-size: 20px;
}
h5 {
	@include h-tag($font: $textFont);
	font-size: 16px;
	font-weight:bold;
}
