



.header {
	box-sizing: border-box;
	position: fixed;
	width: 280px;
	height:100vh;
	z-index: 10;
	border-right:5px solid $menuAccentColor;
	top: 0;
	background-color: $headerMenuColor;
	transition: background-color 100ms linear;
	&:hover {
		background-color: $headerMenuColor;
		transition: background-color 100ms linear;
	}



	.menu-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
	}

	h3 {
		margin: 0px;
		font-family: $topFont;
	}
	a {
		color: $menuLinkColor !important;
		font-family: $headerFont;
	}
}

.hmenu-item {

	border-bottom: 2px solid $menuAccentColor;
	padding: 10px;
	margin:0;
	width:100%;
	display:inline-block;
	&:hover {
		background-color: rgba($menuHoverColor, .7);
	}
	& a, & * {
		color:$menuLinkColor;
	}
}

.hmenu-dropdown-toggle {
	display: inline-block;
	cursor: pointer;
}
.hmenu-dropdown-options {
	border-radius:4px;
	width:100%;
	background-color: $headerMenuColor;
	a {
		display: block;
	}
}


.headerFill {
	background-color: $headerMenuColor;
}


	.hmenu-dropdown-options .hmenu-item, .hmenu-item:not(.hmenu-dropdown) {
		display: flex;
		justify-content: space-between;
		& > span {
			padding: 5px;
		}
	}

	.hmenu-dropdown-toggle > span {
		padding: 6px;
	}



	@media only screen and (min-width: 912px) {
		.body {
			margin-left:280px;
		}
		
	}
	
	@media only screen and (max-width: 911px) {
		.header {
			width:80%;
			min-width:280px;
		}
		.hide-menu {
			display:none;
		}
		
	}