
.header {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	background-color: $headerMenuColor;
	transition: background-color 100ms linear;
	&:hover {
		background-color: $headerMenuColor;
		transition: background-color 100ms linear;
	}

	.menu-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
	}

	h3 {
		margin: 0px;
		font-family: $topFont;
	}
	a {
		color: $menuLinkColor !important;
		font-family: $headerFont;
	}
}

.hmenu-item {
	background:none;
	border-bottom: 2px solid $menuAccentColor;
	padding: 10px;
	border-radius: 10px;
	display:inline-block;
	&:hover {
		background-color: rgba($menuHoverColor, .7);
	}
	& a, & * {
		color:$menuLinkColor;
	}
}

.hmenu-dropdown-toggle {
	display: inline-block;
	cursor: pointer;
}
.hmenu-dropdown-options {
	left: 0;
	padding: 20px 0;
	max-width: 500px;
	border-radius:20px;
	background-color: $headerMenuColor;
	a {
		display: block;
	}
}


.headerFill {
	background-color: $headerMenuColor;
}


@media only screen and (max-width: 911px) {
	.header {
		background: $headerMenuColor;
	}
	.hmenu-item {
		width: 100%;
		margin:0px;
	}
	.mobile-menu-hide {
		display: none;
	}
	.mobile-menu-show {
		padding: 20px;
		width: 100%;
	}
	.hmenu-dropdown-options {
		margin-top:10px;
		padding-top:0px;
	}
}
@media only screen and (min-width: 912px) {
	.hmenu-item {
		display: inline-block;
		min-width: 125px;
		margin: 0 15px;
	}

	.hmenu-dropdown {
		position: relative;
	}
	.hmenu-dropdown-options {
		position: absolute;
		width: max-content;
		border-radius: 20px;
		margin-top:12px;
	}

	.hmenu-dropdown-options .hmenu-item {
		display: flex;
		justify-content: space-between;
		& > span {
			padding: 5px;
		}
	}

	.hmenu-dropdown-toggle > span {
		padding: 6px;
	}
}
