/*---Helpful Methods---*/
@import '/stylesheets/mixins';

/*---Theme Settings---*/
/* The general settings that aren't fonts & colors. */
@import '/stylesheets/settings';
/* The color palette and what goes on each page */
@import '/stylesheets/colors';
/* Font-families & sizes for all fonts */
@import '/stylesheets/fonts';
/* Reusable components- Buttons, Links, Dividers */
@import '/stylesheets/components';
/* CSS animations for pages & route changes, etc. */
@import '/stylesheets/animations';


/*---Page Components---*/
/*Styling for menu*/
@import '/stylesheets/menu';
/*Styling that is used on every page.*/
@import '/stylesheets/page';


/*---Individual Components---*/
@import '/stylesheets/components/homeLinks';

* {
	box-sizing: border-box;
}
.body,
.controller {
	min-height: 100vh;
}

.App {
	text-align: left;
}

ul { list-style:none;padding:0;}

.form-group {margin-bottom:25px !important;text-align:left;}

.main-bg {
	background-color: $backgroundOpacityColor;;
	$weights: "https://images.pexels.com/photos/703016/pexels-photo-703016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940";
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}
.main-screen {}

.staff-square {
	background-color:$ll-light-color;
	border:1px solid black;
	border-radius:4px;
	padding:10px;
}

.main-page {
}

.page-field {
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	max-width: 500px;
	width: 100%;
	color: $dark-color;
}

.pageDarkSection {
	text-align: center;
	background: $dark-color;
	padding: 40px 20px 80px;
}

.footer {
	background-color: $footerBackgroundColor;
	padding: 40px;
	border-top:12px solid $footerAccentColor;
	border-bottom:12px solid $footerAccentColor;
}

.modal-title {
	color: $light-color;
}
.modal-body {
	color: $l-light-color;
}


.extra-info-slider {
	background-color: rgba(white, .2);
	padding: 30px;
	display:block;
	overflow:scroll;
	min-width:100%;
}

.extra-info-row {
	width: max-content;
}

.extra-info-column {
	cursor: pointer;
	min-width: 50px;
	width: max-content;
}

.eic-active {
	text-decoration: underline;
	color: $ll-light-color;
}

@media only screen and (max-width: 911px) {
	.extra-info-slider,
	.image-slider {
		overflow-y: scroll;
	}
}

.handlerForm {
	max-width: 800px;
}



.inlineForm {
	.formField {
		display: inline-block;
		padding: 5px;

		input {
			width: 150px;
		}
	}

	.formHeader {
		display: none;
	}

	.handlerForm {
		max-width: 90vw;
	}
}

.loader {
	display: block;
	text-align: center;
	position: relative;
}

.loaderImg {
	background-color: $light-color;
	border-radius: 50%;
	position: absolute;
	margin-left: -30px;
	opacity: .8;
	transition: opacity 500ms;
}

.amazon-link {
	img {
		margin: 10px auto;
		width: 80%;
		border-radius: 20px;
		border: 4px inset $light-color;
	}
}

.shop-category {
	border-top: 2px solid $light-color;
	border-bottom: 2px solid $light-color;
	padding: 10px 0;
	background-color: rgba($light-color, .4);
}

.connection-row {
	background-color:$dark-color;
	width:100vw;
	margin:0;
	& .col-12 {
		padding:0;
		border-left: 2px solid $d-grey-color;
		border-right: 2px solid $d-grey-color;
	}

}

.symbol-connection-area {

	background-color:$dark-color;
	& h3 {
		background-color:$l-grey-color;
		padding:10px;
		color:$ll-light-color;
		margin:0;
	}
	& h4 {
		background:$d-grey-color;
		border-top:4px solid $grey-color;
		border-bottom:4px solid $dd-grey-color;
		margin:0;
		& a {
			font-size:inherit;
			background:none;
			width:80%;
			color: $light-color;
		}
	}
	& > span > a {
		margin: 20px 10px;
	}
}

.displayImage {
	padding:20px;
	background-color:$ll-primary-color;
	h2 { color: $dd-primary-color;}
	h3 { color: $d-primary-color;}
	& .displayImageHolder {
		border:8px inset $l-grey-color;
		width: min-content;
		height: min-content;
		margin:auto;
	}
	@media only screen and (max-width: 911px) {
		& .displayImageHolder {
			overflow:scroll;
			max-width: 80vw;
			max-height:200px;
			margin:auto;
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none;  /* Internet Explorer 10+ */
			&::-webkit-scrollbar { /* WebKit */
				width: 0;
				height: 0;
			}
		}
	}
}


.user-list-card {
	background:$dark-color;
	padding:10px;
	border-top:4px solid $l-dark-color;
	border-bottom: 4px solid $primary-color;
}

.faq-questions {
	background:$colorSectionBackground;
	h3 {
		background-color:$colorSectionHeaderBackground;
		padding:20px;
	}
	.faq-answer{
		padding:20px;
		padding-top:0;
	}
}

.message {
	padding:20px;
	width:100%;
	margin: 10px 0;
	.message-date {
		color: $l-grey-color;
	}
}

#messages-scroll-box {
	background-color:grey;
	max-height:50vh;
	overflow:scroll;
	&>div {
	display:flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	}
}




.alternateRows > *:nth-child(odd) {
	background-color:#F4F4F4;
}

.itemFlex > * {
	display:flex;
	justify-content: space-between;
}
.itemList {
	background-color: white;
	border-radius:13px;
	border: 1px solid #AFA3A3;
}

.itemPanel {
	padding:10px;
}

.itemListHeader {
	font-weight: bold;
	padding:10px 0;
}

.hide-panel {
	position:absolute;
	width:480px;
	margin-left:-240px;
	background-color: white;
	border-radius:13px;
	border: 1px solid #AFA3A3;
	padding:10px;
	z-index:100;

	select {
		display:block;
		width:100%;
		border-radius: 4px;
		padding:4px 0;
		margin:4px 0;
	}
}

.neatform {
	display:block;
	width:100%;
	border-radius: 4px;
	padding:4px 0;
	margin:4px 0;
}